@import "assets/styles/constants.scss";

.sectionForm {
    margin: 100px auto;
    padding: 20px;
    width: 360px;
    background-color: $blue;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}