@import "assets/styles/constants.scss";

.myOrganizationsContent {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto 0;

    .createOrgWrapper {
        display: flex;
        justify-content: flex-end;

        a {
            color: $gray;
            background-color: $orange;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 1px #00000040;
            &:hover {
                opacity: .7;
            }
        }
    }

    .sectionName {
        font-size: 24px;
        color: $gray;
    }

    .orgList {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
}