@import "assets/styles/constants.scss";

.formContainer {
    display: flex;
    flex-direction: column;
}

.linksWrapper {
    margin: 20px 0 40px;
    :first-child {
        margin-right: 30px;
    }
}

.links {
    color: $green;
    opacity: .5;
    padding-bottom: 3px;
    font-size: 20px;
}

.active {
    color: $green;
    opacity: 1;
    border-bottom: 4px solid $green;
    border-radius: 4px;
}

.alertMessage {
    color: $orange;
    font-size: 12px;
}

.label {
    color: $gray;
    opacity: .8;
    margin: 10px 0;
    text-transform: uppercase;
}

.input {
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: $dark-gray;
    color: #000000;
    &_password {
        padding: 10px 40px 10px 10px;
        width: calc(100% - 50px);
        border-radius: 10px;
        border: none;
        outline: none;
        margin-bottom: 20px;
        background-color: $dark-gray;
        color: #000000;
    }
}

.inputBlocks {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    .role {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        label {
            font-size: 12px;
            color: $gray;
        }

        .inputRole {

            .radio {
                width: 0;
                height: 0;
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            
            .customRadio {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                background: none;
                border: 2px solid $green;
                border-radius: 50%;
                vertical-align: text-top;
                margin-right: 5px;
                cursor: pointer;
            }
            
            .customRadio::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                background: $green;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 0.2s ease-in;
            }
            
            .radio:checked + .customRadio::before {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}

.passwordInputWrapper {
    position: relative;
}

.passwordSvgWrapper {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
}