@import "assets/styles/constants.scss";

.ourPartnersSection {
    margin: 100px 0 0;

    .ourPartnersSectionContent {

        h2 {
            font-size: 60px;
            color: $gray;
            text-align: center;
            margin-bottom: 40px;
        }

        img {
            width: 100%;
            margin-bottom: 100px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    @media (max-width: 1200px) {
        margin: 60px 0 0;

        .ourPartnersSectionContent {

            h2 {
                font-size: 40px;
            }
        }
    }

    @media (max-width: 668px) {
        margin: 30px 0 0;

        .ourPartnersSectionContent {

            h2 {
                font-size: 30px;
            }

            img {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }

    @media (max-width: 400px) {

        .ourPartnersSectionContent {

            h2 {
                font-size: 20px;
            }

            img {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}