@import "assets/styles/constants.scss";


.footer {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #00000030;
    &_content {
        margin: 0 auto;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .wrapper {
            p {
                font-size: 12px;
                letter-spacing: 4px;
                margin-bottom: 5px;
                color: $gray;
                text-transform: uppercase;
            }
            a {
                color: $dark-gray;
                font-size: 10px;
            }
        }
    }
}